html {
    font-size: 16px;
    font-family: emoji;
    scroll-padding-top: 3rem;
    color:rgb(77, 59, 59);
}

body {
    background-color: #efefef;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

nav a{
    flex: 1;
    text-align: center;
    justify-content: center;
    margin: 0.25em;
    padding: 0.25em;
    text-decoration: none;
    color:lemonchiffon;
}

@media (min-width: 600px) {
    nav { flex-direction: row; 
        font-size:xx-large;}
}

.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.card {
    display: grid;
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}

.card-thumbnail img {
    max-width: 100%;
}

.card-description {
    padding: .5rem;
    line-height: 1.6em;
}

#bannerImage {
    width: 100%;
}

#error {
    color: red;
    font-style: italic;
    font-weight: bolder;
    visibility:hidden;
}
